#information {
  display: grid;
  grid-template: 80px 440px / 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 2px solid black;
  margin: 5px;
}

.information-header {
  margin-top: 25px;
  font-size: 28px;
}

#description {
  align-self: start;
  padding: 0 10px 10px 15px;
  margin: 5px 0 0 0;
  font-size: 24px;
  line-height: 1.6;
}

.map {
  width: 95%;
  height: 400px;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 25px;
}

#picture-box {
  display: flex;
  width: 100%;
  width: 100vw;
  height: 300px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

#picture-button {
  position: absolute;
  bottom: 20px;
  right: 100px;
  background-color: rgba(128, 128, 128, 0.527);
  border-radius: 10px;
  height: 40px;
  width: 140px;
  border: 1px solid black;
  font-size: 16px;
  pointer-events: all;
}

#picture-button:hover {
  border: 1px solid white;
  box-shadow: 2px 2px black;
}

.picture-box-content {
  flex: 1 1 auto;
  min-width: 0;
}

#banner {
  position: relative;
  width: 100%;
  height: 300px;
}

#info {
  position: absolute;
  left: 100px;
  /* top: 130px; */
  bottom: 20px;
}

#name {
  color: white;
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
  font-size: 42px;
  text-shadow: 2px 2px 2px black;
  margin: 0 0 10px 0;
}

#address {
  color: white;
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
  margin: 0 0 5px 20px;
}

.hidden {
    display: none;
}

.star {
  background-color: rgba(128, 128, 128, 0.911);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.star-filled {
  background-color: rgba(246, 150, 25, 0.911);
}

.star-half-filled {
  background: linear-gradient(
    90deg,
    rgba(246, 150, 25, 0.911) 50%,
    rgba(128, 128, 128, 0.911) 50%
  );
}

#star-container {
  display: flex;
  width: auto;
  margin: 0 0 0 20px;
}

#review-number {
  color: white;
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
  align-self: center;
}
