
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body.load {
    pointer-events: none;
  }

  a.tomtomAttribution{
      z-index: -1000;
      display: none;
  }

  .page-wrapper{
      position: absolute;
  min-height: 100vh;
  /* height: 100vh; */
  width: 100%;
  top: 0;
  }
