
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body.load {
    pointer-events: none;
  }

  a.tomtomAttribution{
      z-index: -1000;
      display: none;
  }
